body {
    font-family: Arial, sans-serif;
    background-image: url('/Images/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #e9ecef;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Styles for the container and form elements */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"], input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100px;
    padding: 10px;
    margin: 20px 0;
    align-self: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    cursor: pointer;
}

th:hover {
    background-color: #f1f1f1;
}

.tag {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    background-color: #e0e0e0;
    border-radius: 3px;
}

.edit-tag, .delete-tag, .edit, .delete {
    margin-left: 5px;
    cursor: pointer;
}

.edit-tag:hover, .delete-tag:hover, .edit:hover, .delete:hover {
    color: red;
}

.tag-color-input {
    display: flex;
    align-items: center;
}

.tag-color-box {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
}

input[type="color"] {
    display: none;
}
